{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template mod_cheve/view

    Moodle renders a simple view page

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * title String a page title.
    * body String of html code the formatted module intro.

    Example context (json):
        {
         "title": "My heading",
         "body": "<p>My html body</p>"
        }
}}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">{{title}}</h2>
        {{{body}}}

        {{#has_original}}
            <video width="640" height="480" controls>
                <source src={{{file_original}}} type=video/mp4>
            </video>
        {{/has_original}}
        {{^has_original}}
            <p> The original video is missing. </p>
        {{/has_original}}
        <br>
        <br>

        {{#has_subbed}}
            <a href={{{file_subbed}}}>Click here to watch the video with animation</a>
        {{/has_subbed}}
        {{^has_subbed}}
            <p> The video with animation is currently being processed. </p>
        {{/has_subbed}}
        <br>
        <br>

        {{#has_subtitle}}
            <a href={{{file_subtitle}}}>Click here to read the subtitle</a>
        {{/has_subtitle}}
        {{^has_subtitle}}
            <p> The subtitle for the video is currently being processed. </p>
        {{/has_subtitle}}
    </div>
</div>